node_modules/
dist/
.env
.DS_Store
.vscode/
.env.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Backups do Banco de Dados
backups/
google-service-account.json